body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

button {
  width: 50px;
  height: 40px;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}
